/*Estilos header*/
body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

header {
    background-color: rgb(200, 167, 96);
    color: #fff;
    padding: 10px 0;
}

.barra-navegacion {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

.logo img {
    max-width: 100%;
    height: auto;
}

#menu, #menu-hamburguesa {
    display: none;
}

.menu {
    list-style-type: none;
    display: flex;
    gap: 20px;
}

.menu li {
    font-size: 18px;
}

.menu li a {
    text-decoration: none;
    color: #fff;
    transition: color 0.3s;
}

.menu li a:hover {
    color: #ff6600;
}

.carrito a {
    background-color: #ff6600;
    color: #fff;
    padding: 10px 15px;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.carrito a:hover {
    background-color: #ff4400;
}

/* Estilos texto*/

.texto {
    font-family: 'Lobster', cursive;
    margin: 10px 10px;
}

/* Estilo del contenido principal*/
button {
    background-color: rgb(200, 167, 96);
    color: #fff;
    padding: 10px 20px;
    border-radius: 10px;
    cursor: pointer;
    border: none;
    margin: 4px;
}
.button-container {
    display: flex; 
    justify-content: center; 
    align-items: center; 
    height: 50px;
}

#nosotros {
    max-width: 95%;
}

.descripcion {
    display: flex;
    justify-content: space-around;
}

.foto {
    width: 300px;
    height: 250px;
    margin: 5px;
}

#saludo {
    text-align: center;
}

/*Estilos de los productos*/
.productos {
    display: flex;
    flex-wrap: wrap;
    margin: 20px auto;
}

h2 {
    align-self: center;
    font-family: 'Lobster', cursive;
    margin: 5px 10px 10px 10px;
}

.dulce {
    display: flex;
    flex-direction: column;
    margin: 10px auto;
    padding: 10px;
    border: 2px solid rgb(200, 167, 96);
}

.ImagDulce {
    max-width: 350px;
    align-content: center;
}

.agregar {
    display: flex;
    justify-content: space-evenly;
    margin-top: 10px;
}

#cantidad {
    width: 45%;
    border-radius: 10px;
    border-width: 1px;
}

.agregar input[type="submit"] {
    width: 45%;
    background-color: rgb(200, 167, 96);
    color: #fff;
    padding: 10px 5px;
    border-radius: 10px;
    cursor: pointer;
    border: none;
    margin: 3px;
}
/*Estilos formulario de contacto*/
.comentario {
    margin: 20px auto;
    max-width: 500px;
    background-color: #fff;
    border: 1px solid #555;
    padding: 20px;
    border-radius: 15px;
}

.comentario label {
    text-align: left;
    margin-bottom: 10px;
}

.comentario input, textarea{
    width: 90%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 10px;
}

.comentario input[type="submit"]{
    background-color: rgb(200, 167, 96);
    color: #fff;
    border: none;
    padding: 10px 20px;
    margin: 4px;
    cursor: pointer;
    border-radius: 10px;
}

/* Estilo mapa */
.lugar {
    display: flex;
    flex-direction: column;
    margin: 10px;
    max-width: 460px;
}

.direccion {
    font-weight: bold;
    text-align: center;
}

iframe {
    margin: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5); 
}

.mapa-container {
    display: flex;
    flex-direction: column;
    justify-content: center; 
    align-items: center; 
}

/* Estilos para el footer */
footer {
    background-color: rgb(200, 167, 96);
    color: #fff;
    padding: 20px 0;
    text-align: center;
}

.contacto h2 {
    font-size: 24px;
    margin-bottom: 10px;
}

.contacto p {
    font-size: 18px;
    margin-bottom: 5px;
}

.contacto a {
    color: #ff6600;
    text-decoration: none;
}

.contacto a:hover {
    text-decoration: underline;
}

/* Estilo pantallas pequeñas*/
@media only screen and (max-width: 990px) {
    .barra-navegacion .menu {
        display: inline;
    }
}

@media only screen and (max-width: 989px) {
    .logo img {
        max-width: 50%;
        height: auto;
    }

    .barra-navegacion {
        display: flex;
        justify-content: space-between;
    }

    #menu-hamburguesa:not(:checked) ~ nav {
        display: none;
    }

    #menu-hamburguesa:checked ~ nav {
        display: block;
    }

    #menu {
        font-size: 6vw;
        display: block;
        text-decoration: none;
        font-weight: bold;
        color: #fff;
        transition: color 0.3s;
        border-radius: 5px;
        z-index: 9999;
    }

    #menu:hover {
        color: #ff6600;
        background-color:  rgb(187, 156, 90);
    }
    
    #menu-cerrar {
        display: none;
    }

    #menu-hamburguesa:checked ~ label #menu-abrir {
        display: none;
    }

    #menu-hamburguesa:checked ~ label #menu-cerrar {
        display: block;
    }

    .carrito {
        padding-top: 1em;
    }

    .barra-navegacion nav {
        position: absolute;
        top: 0;
        right: 0;
        height: 100%;
        font-size: 6vw;
        color: white;
        background-color: rgb(200, 167, 96);
        padding-top: 0.5em;
        padding-right: 1.5em;
        padding-left: 5px;
        color: white;
    }

    .barra-navegacion nav ul a {
        color: white;
    }

    .barra-navegacion nav ul, .barra-navegacion nav ul li {
        display: block;
        text-align: right;
        margin-bottom: 20px;
    }

    .descripcion {
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
    }

    .descripcion img {
        max-width: 300px;
        width: auto;
        height: auto;
    }

    @media only screen and (max-width: 380px) {
        .ImagDulce {
            max-width: 330px;
            width: auto;
            height: auto;
        }
    }
}