<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Aiken</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <link rel="shortcut icon" href="{{ url_for('static', filename='img/LetraSinFondo.png') }}" type="image/x-icon">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lobster&display=swap">
    <script src="https://kit.fontawesome.com/e3aa06ca23.js" crossorigin="anonymous"></script>

</head>

<body>

    <header>
        <div class="barra-navegacion">
            <div class="logo">
                <a href="{{ url_for('inicio') }}"><img src="{{ url_for('static', filename='img/Logo-sinfondo.png') }}" alt="Logo de la tienda"></a>
            </div>

            <input type="checkbox" id="menu-hamburguesa">
            <label id="menu" for="menu-hamburguesa">
                <span id="menu-abrir">&#9776;</span>
                <span id="menu-cerrar">X</span>
            </label>

            <nav>
                <ul class="menu">
                    <li><a href="{{ url_for('inicio') }}">Inicio</a></li>
                    <li><a href="{{ url_for('nosotros') }}"> Nosotros</a></li>
                    <li><a href="{{ url_for('dulces') }}">Dulces Artesanales</a></li>
                    <li><a href="{{ url_for('venta') }}">Puntos de Venta</a></li>
                    <li><a href="{{ url_for('carrito') }}"><i class="fa-solid fa-cart-shopping"></i></a></li>
                </ul>
            </nav>
        </div>
    </header>

    <h2 class="texto">Carrito de Compras</h2>
    <div id="carrito-container"></div>
    <button onclick="finalizarCompra()">Finalizar Compra</button>
    <footer>
        <div class="contacto">
            <h2>Contacto</h2>
            <p><a href="#"><i class="fa-brands fa-instagram"></i></a><a href="#"><i class="fa-brands fa-facebook"></i></a><a href="#""><i class="fa-brands fa-x-twitter"></i></a></p>
            <p>Para cualquier pregunta o consulta, no dudes en ponerte en contacto con nosotros:</p>
            <p>Correo electrónico: <a href="mailto:dulceria_aiken@hotmail.com">dulceria_aiken@hotmail.com</a></p>
            <p>Teléfono: 02945 45-2225</p>
        </div>
    </footer>
    
</body>

</html>